# Demo configuration file.
#
# Exampel usage:
#
# ./chews.py --config_file configs/test.config --project ${my_project?} printconfig
#
provider: "GCE"
cloud_workstations {
  name: "test"
  node {
    size: "n1-standard-2"
  }
  volumes {
    name: "boot"
    size: 50
    volume_type: "pd-ssd"
    max_snapshots: 2
  }
  volumes {
    name: "data"
    size: 100
    volume_type: "pd-standard"
    max_snapshots: 2
  }
  location: "us-east1-c"
  image_family: "debian-9"
}

